.DS_Store
.idea
*.log
tmp/

*.py[cod]
*.egg
*.egg-info/
build
htmlcov

/data/
/build/
/local/
/dist/
/lib/
/install/
/download/
*.so

.venv/
lightning_logs/
voices/

install/
build/
pp/install/
*.onnx
*.onnx.json
pp/lib/
pp/download/

log.txt
out.wav